---
title: Diego Architecture
---

This topic provides an overview of the high-level structure of Diego, the next-generation container management system for Cloud Foundry (CF). 

* To deploy Diego, see the GitHub [Diego-Release](https://github.com/cloudfoundry-incubator/diego-release).
* For more information about the major components of Diego and how they interact with other Cloud Foundry components, see the [Diego Components](./diego-components.html) topic.

##<a id='overview'></a>Overview

In a Cloud Foundry deployment without Diego, the [Cloud Controller](../architecture/cloud-controller.html) schedules and manages applications on the [Droplet Execution Agents](../architecture/execution-agent.html) (DEAs). Diego replaces the DEAs and the [Health Manager](../architecture/index.html#hm9k), and assumes application scheduling and management responsibility from the Cloud Controller.

Refer to the diagram and descriptions below for information about the way Diego handles application requests.

<%= image_tag("../images/diego/diego-flow.png") %>

1. The Cloud Controller passes requests to stage and run applications to the  [Cloud Controller Bridge](./diego-components.html#bridge-components) (CC-Bridge).

1. The CC-Bridge translates staging and running requests into [Tasks and Long Running Processes](./diego-auction.html#processes) (LRPs), then  submits these to the [Bulletin Board System](./diego-components.html#bbs) (BBS) through an RPC-style API over HTTP. 

1. The BBS submits the Tasks and LRPs to the [Auctioneer](./diego-components.html#auctioneer). 

1. The Auctioneer distributes these Tasks and LRPs to [Cells](./diego-components.html#cell-components) through an [Auction](./diego-auction.html).

1. Once the Auctioneer assigns a Task or LRP to a Cell, an in-process [Executor](./diego-components.html#executor) creates a [Garden](./diego-components.html#garden) container in the Cell. The Task or LRP runs in the container.

1. The BBS tracks desired LRPs, running LRP instances, and in-flight Tasks for the [Converger](./diego-components.html#converger). The Converger periodically analyzes this information and corrects discrepancies to ensure consistency between `ActualLRP` and `DesiredLRP` counts.

1. [Metron Agents](./diego-components.html#metron-agent) forward application logs, errors, and metrics to the  [Loggregator](https://github.com/cloudfoundry/loggregator) Doppler component.
 
## <a id='monitoring'></a>Monitoring and Testing

The following releases monitor and test runtime deployment:

###Inigo

Inigo is an integration test suite that launches the Diego components through various test cases, including component failures and other exceptional scenarios. Inigo validates a given set of component versions to ensure mutual compatibility, robustness, and graceful performance degradation in failure conditions.

Refer to the [Inigo repo](https://github.com/cloudfoundry-incubator/inigo) on GitHub for more information.

###Auction

The [auction package](https://github.com/cloudfoundry-incubator/auction) encodes behavioral details about Task and LRP allocation to cells during a Diego [Auction](./diego-auction.html). It includes a simulation test suite that validates the optimal performance of the auction algorithm. You can run the simulation for different algorithm variants at various scales, and in the following ways:

- In-process, for short feedback loops

- Across multiple processes, to reveal the impact of communication in the auction

- Across multiple machines in a cloud-like infrastructure, to reveal the impact of latency on the auction

Refer to the [Auction repo](https://github.com/cloudfoundry-incubator/inigo) on GitHub for more information.

###Diego Acceptance Tests

Diego Acceptance Tests (DAT) is a suite of acceptance-level tests that run against Cloud Foundry and Diego deployment releases. DAT executes a number of "happy-path" test cases across an entire deployment.

Refer to the [Diego Acceptance Test  repo](https://github.com/cloudfoundry-incubator/diego-acceptance-tests) on GitHub for more information.
