---
title: Diego Architecture
owner: Diego
---

<strong><%= modified_date %></strong>

<%= vars.diego_architecture %>

<ul>
<%=vars.diego_deploy %>
<li>For more information about the major components of Diego and how they interact with other Cloud Foundry components, see the <a href="./diego-components.html">Diego Components</a> topic.</li>
</ul>

##<a id='overview'></a>Overview

In a Cloud Foundry deployment without Diego, the [Cloud Controller](../architecture/cloud-controller.html) schedules and manages applications on the [Droplet Execution Agent](../architecture/execution-agent.html) (DEA) nodes. Diego replaces the DEAs and the [Health Manager (HM9000)](./dea-vs-diego.html#hm9k), and assumes application scheduling and management responsibility from the Cloud Controller.

Refer to the following diagram and descriptions for information about the way Diego handles application requests.

<%= image_tag("../images/diego/diego-flow.png") %>

1. The Cloud Controller passes requests to stage and run applications to the  [Cloud Controller Bridge](./diego-components.html#bridge-components) (CC-Bridge).

1. The CC-Bridge translates staging and running requests into [Tasks and Long Running Processes](./diego-auction.html#processes) (LRPs), then  submits these to the [Bulletin Board System](./diego-components.html#bbs) (BBS) through an RPC-style API over HTTP.

1. The BBS submits the Tasks and LRPs to the [Auctioneer](./diego-components.html#auctioneer), part of the [Diego Brain](./diego-components.html#brain-components).

1. The Auctioneer distributes these Tasks and LRPs to [Cells](./diego-components.html#cell-components) through an [Auction](./diego-auction.html).

1. Once the Auctioneer assigns a Task or LRP to a Cell, an in-process [Executor](./diego-components.html#executor) creates a [Garden](./diego-components.html#garden) container in the Cell. The Task or LRP runs in the container.

1. The BBS tracks desired LRPs, running LRP instances, and in-flight Tasks for the [Converger](./diego-components.html#converger), part of the [Diego Brain](./diego-components.html#brain-components). The Converger periodically analyzes this information and corrects discrepancies to ensure consistency between `ActualLRP` and `DesiredLRP` counts.

1. The [Metron Agent](./diego-components.html#metron-agent), part of the Cell, forwards application logs, errors, and metrics to the Cloud Foundry Loggregator. For more information, see the [Application Logging in Cloud Foundry](../../devguide/deploy-apps/streaming-logs.html) topic.