<table id='oss-roles-permissions' border='1' class='nice'>
    <tr>
        <th>Activity</th>
        <th>Admin</th>
        <th>Admin Read-Only</th>
        <th>Global Auditor</th>
        <th>Org Manager</th>
        <th>Org Auditor</th>
        <th>Org Billing Manager</th>
        <th>Org User</th>
        <th>Space Manager</th>
        <th>Space Developer</th>
        <th>Space Auditor</th>
 
    </tr><tr>
        <td>Scope of operation</td>
        <td>Org</td> 
        <td>Org</td>
        <td>Org</td>
        <td>Org</td>
        <td>Org</td>
        <td>Org</td>
        <td>Org</td>
        <td>Space</td>
        <td>Space</td>
        <td>Space</td>
    </tr><tr>
        <td>Assign user roles</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td> 
    </tr><tr>
        <td>View users and roles</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
    </tr><tr>
        <td>Create and assign org quota plans</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View org quota plans</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
    </tr><tr>
        <td>Create orgs</td>
        <td>&check;</td>
        <td><sup><strong></strong></sup></td>
        <td><sup><strong></strong></sup></td>
        <td><sup><strong>1</strong></sup></td>
        <td><sup><strong>1</strong></sup></td>
        <td><sup><strong>1</strong></sup></td>
        <td><sup><strong>1</strong></sup></td>
        <td><sup><strong>1</strong></sup></td>
        <td><sup><strong>1</strong></sup></td> 
        <td><sup><strong>1</strong></sup></td> 
    </tr>
    <tr>
        <td>View all orgs</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View orgs where user is member</td>
        <td>&check;<sup><strong>2</strong></sup></td>
        <td>&check;<sup><strong>2</strong></sup></td>
        <td>&check;<sup><strong>2</strong></sup></td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
    </tr><tr>
        <td>Edit, rename, and delete orgs</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;<sup><strong>3</strong></sup></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>Suspend or activate an org</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Create and assign space quota plans</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Create spaces</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View spaces</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td>&check;</td>
	    <td>&check;</td>
    </tr><tr>
        <td>Edit spaces</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>     
	<td></td>
    </tr><tr>
        <td>Delete spaces</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>  
        <td></td>
	<td></td>
    </tr><tr>
        <td>Rename spaces</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View the status, number of instances, service bindings, and resource use of applications</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td></td>
        <td></td>
	<td></td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
    </tr><tr>
        <td>Add private domains<sup><strong>4</strong></sup></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
    <td>Share private domains with other orgs</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;<sup><strong>5</strong></sup></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>Deploy, run, and manage applications</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td> 
    </tr><tr>   
        <td>Use Application SSH<sup><strong>6</strong></sup></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>     
    </tr><tr>
        <td>Instantiate and bind services to applications</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>        
    </tr><tr>
        <td>Associate routes<sup><strong>4</strong></sup>, instance counts, memory allocation, and disk limit of applications</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>        
    </tr><tr>
        <td>Rename applications</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
     </tr><tr>
        <td>Create and manage <a href="../concepts/asg.html">Application Security Groups</a></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
	    <td>Create, update, and delete an <a href="../adminguide/isolation-segments.html">Isolation Segment</a></td>
	    <td>&check;</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
    </tr><tr>
        <td>List all <a href="../adminguide/isolation-segments.html">Isolation Segments</a> for an Org</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;<sup><strong>7</strong></sup></td>
        <td>&check;<sup><strong>7</strong></sup></td>
        <td>&check;<sup><strong>7</strong></sup></td>
        <td>&check;<sup><strong>7</strong></sup></td>
        <td>&check;<sup><strong>7</strong></sup></td>
        <td>&check;<sup><strong>7</strong></sup></td>
        <td>&check;<sup><strong>7</strong></sup></td>
        <td>&check;<sup><strong>7</strong></sup></td>
    </tr><tr>
        <td>Entitle or revoke an <a href="../adminguide/isolation-segments.html">Isolation Segment</a></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
		<td>List all Orgs entitled to an <a href="../adminguide/isolation-segments.html">Isolation Segment</a></td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;<sup><strong>7</strong></sup></td>
		<td>&check;<sup><strong>7</strong></sup></td>
		<td>&check;<sup><strong>7</strong></sup></td>
		<td>&check;<sup><strong>7</strong></sup></td>
		<td>&check;<sup><strong>7</strong></sup></td>
		<td>&check;<sup><strong>7</strong></sup></td>
		<td>&check;<sup><strong>7</strong></sup></td>
		<td>&check;<sup><strong>7</strong></sup></td>
    </tr><tr>
		<td>Assign a default <a href="../adminguide/isolation-segments.html">Isolation Segment</a> to an Org</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
    </tr><tr>
		<td>List and manage <a href="../adminguide/isolation-segments.html">Isolation Segments</a> for spaces</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
    </tr><tr>
		<td>List entitled <a href="../adminguide/isolation-segments.html">Isolation Segment</a> for a space</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
    </tr><tr>
		<td>List which <a href="../adminguide/isolation-segments.html">Isolation Segment</a> an app runs on</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
    </tr><tr>
		<td>List application and service usage events</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td>&check;</td>
    </tr><tr>
</table>

<sup><strong>1</strong></sup>Not by default, unless [feature flag](../adminguide/listing-feature-flags.html) `user_org_creation` is set to `true`.

<sup><strong>2</strong></sup>Admin, admin read-only, and global auditor roles do not need to be added as members of orgs or spaces to view resources.

<sup><strong>3</strong></sup>Org Managers can rename their orgs and edit some fields; they cannot delete orgs.

<sup><strong>4</strong></sup>Unless disabled by [feature flags](../adminguide/listing-feature-flags.html).

<sup><strong>5</strong></sup>The user attempting to share must have permissions in both the source and target orgs.

<sup><strong>6</strong></sup>This assumes that ssh is enabled for the platform, space, and app. For more information, see [SSH Access Control Heirarchy](../devguide/deploy-apps/app-ssh-overview.html#ssh-access-control-hierarchy).

<sup><strong>7</strong></sup>Applies only to orgs they belong to.
