<table id='oss-roles-permissions' border='1' class='nice'>
    <tr>
        <th>Activity</th>
        <th>Admin</th>
        <th>Admin Read-Only</th>
        <th>Org Manager</th>
        <th>Org Auditor</th>
        <th>Org Billing Manager</th>
        <th>Space Manager</th>
        <th>Space Developer</th>
        <th>Space Auditor</th>
    </tr><tr>
        <td>Scope of operation</td>
        <td>Org</td> 
        <td>Org</td>
        <td>Org</td>
        <td>Org</td>
        <td>Org</td>
        <td>Space</td>
        <td>Space</td>
        <td>Space</td>
    </tr><tr>
        <td>Assign user roles</td>
        <td>&check;</td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View users and roles</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
    </tr><tr>
        <td>Create and assign org quota plans</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View org quota plans</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
    </tr><tr>
        <td>Create orgs</td>
        <td>&check;</td>
        <td><sup></sup></td>
        <td><sup>&#42;</sup></td>
        <td><sup>&#42;</sup></td>
        <td><sup>&#42;</sup></td>
        <td><sup>&#42;</sup></td>
        <td><sup>&#42;</sup></td>
        <td><sup>&#42;</sup></td>
    </tr>
    <tr>
        <td>View all orgs</td>
        <td>&check;</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View orgs where user is member</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
    </tr><tr>
        <td>Edit, rename, and delete orgs</td>
        <td>&check;</td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>Suspend or activate an org</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Create and assign space quota plans</td>
        <td>&check;</td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Create spaces</td>
        <td>&check;</td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View spaces</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td>&check;</td>
        <td></td>
    </tr><tr>
        <td>Edit spaces</td>
        <td>&check;</td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
	<td></td>
    </tr><tr>
        <td>Delete spaces</td>
        <td>&check;</td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
	<td></td>
    </tr><tr>
        <td>Rename spaces</td>
        <td>&check;</td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>View the status, number of instances, service bindings, and resource use of applications</td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td>&check;</td>
        <td>&check;</td>
    </tr><tr>
        <td>Add private domains<sup>&dagger;</sup></td>
        <td>&check;</td>
        <td></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td>Deploy, run, and manage applications</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
    </tr><tr>
        <td>Instantiate and bind services to applications</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
    </tr><tr>
        <td>Associate routes<sup>&dagger;</sup>, instance counts, memory allocation, and disk limit of applications</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
    </tr><tr>
        <td>Rename applications</td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&check;</td>
        <td></td>
    </tr><tr>
        <td>Create and manage <a href="../adminguide/app-sec-groups.html">Application Security Groups</a></td>
        <td>&check;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<sup>&#42;</sup>Not by default, unless [feature flag](../adminguide/listing-feature-flags.html) `user_org_creation` is set to `true`.

<sup>&dagger;</sup>Unless disabled by [feature flags](../adminguide/listing-feature-flags.html).
