<table id='pcf-roles-permissions' border='1' class='nice'>
	<tr>
		<th>Activity</th>
		<th>Admin</th>
		<th>Admin Read-Only</th>
		<th>Global Auditor</th>
		<th>Org Manager</th>
		<th>Org Auditor</th>
		<th>Space Manager</th>
		<th>Space Developer</th>
		<th>Space Auditor</th>
	</tr><tr>
		<td>Scope of operation</td>
		<td>Org</td>
		<td>Org</td>
		<td>Org</td>
		<td>Org</td>
		<td>Org</td>
		<td>Space</td>
		<td>Space</td>
		<td>Space</td>
	</tr><tr>
		<td>Add and edit users and roles</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View users and roles</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
	</tr><tr>
		<td>Create and assign org quota plans</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View org quota plans</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
	</tr><tr>
		<td>Create orgs</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View all orgs</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View orgs where user is a member</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
	</tr><tr>
		<td>Edit, rename, and delete orgs</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Suspend or activate an org</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Create and assign space quota plans</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Create spaces</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>View spaces</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td></td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
	</tr><tr>
		<td>Edit spaces</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Delete spaces</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
	</tr><tr>
		<td>Rename spaces</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View the status, number of instances, service bindings, and resource use of apps</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		<td></td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
	</tr><tr>
		<td>Add private domains<sup>&dagger;</sup></td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Deploy, run, and manage apps</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Instantiate and bind services to apps</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Associate routes<sup>&dagger;</sup>, instance counts, memory allocation, and disk limit of apps</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Rename apps</td>
		<td>Yes</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
    <td>Create and manage Application Security Groups</td>
        <td>Yes</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
