---
title: Understanding GrootFS Disk Usage
owner: Garden
---

<strong><%= modified_date %></strong>

This topic describes how GrootFS manages disk space in <%= vars.product_full %>.

## <a id="architecture"></a> Filesystem Architecture

GrootFS creates root filesystems on top of OverlayFS and XFS. 
GrootFS uses XFS for disk quotas since XFS has one of the most mature directory-based disk quota implementations 
within Linux Kernel filesystems.

OverlayFS, similarly to AUFS, enables copy-on-write layering. OverlayFS is a popular choice for container filesystems by many vendors.

## <a id="store"></a> GrootFS Store

A store is the root filesystem deployed by GrootFS on top Overlay and XFS. 

GrootFS stores are initialized to use the entire `/var/vcap/data`.
If the `reserved_space_for_other_jobs_in_mb` is not set high enough, or if there are many images with few shared volumes, the store can use it all.

The thresholder calculates and sets a value so that Groot’s GC tries to ensure that a small reserved space is kept free for other jobs.
Groot only tries to GC when that threshold is reached.
However, if all the rootfs layers are actively in use by images, then GC cannot occur and that space is used.

## <a id="volumes"></a> Volumes

Underlying layers are known as `volumes` in GrootFS.
They are read-only and their changesets are layered together through an `overlay` mount to create the rootfs for containers.
For each container, GrootFS mounts the underlying volumes using `overlay` to a point in the `images` directory.
This point is the rootfs for the container and is read-write.

When GrootFS writes each file system volume to disk, it also stores the number of bytes written 
to a file in a `meta` directory.
The size of an individual volume is available in its corresponding metadata file. 
GrootFS also stores the SHA of each underlying volume used by an image in the `meta` folder.

On disk, the read-write layer for each container can be found at `/var/vcap/data/grootfs/store/unprivileged/images/CONTAINER-ID/diff`.
When GrootFS calls on the built-in XFS quota tooling to get disk usage for a container, 
it takes into account data written to that directory and not the data in the read-only volumes.


---
Open questions:
---

Do we need to explain:


unprivileged containers vs. privileged containers -- stored separately?
https://docs.cloudfoundry.org/concepts/container-security.html#types


active volume vs. unused volume

What is a store?


