---
title: Cloud Foundry Concepts
---

Cloud Foundry is an open platform as a service, providing a choice of clouds, developer frameworks, and application services. Cloud Foundry makes it faster and easier to build, test, deploy and scale applications. It is an [open source project](https://github.com/cloudfoundry) and is available through a variety of private cloud distributions and public cloud instances.

This guide presents an overview of how Cloud Foundry works and a discussion of key concepts. Refer to this guide to learn more about Cloud Foundry fundamentals.

## General Concepts

* <a href="./overview.html" class="subnav">Cloud Foundry Overview</a>

* <a href="./how-applications-are-staged.html" class="subnav">How Applications are Staged</a>

* <a href="./high-availability.html" class="subnav">High Availability in Cloud Foundry</a>

* <a href="./roles.html" class="subnav">Orgs, Spaces, Roles, and Permissions</a>

* <a href="./security.html" class="subnav">Understanding Cloud Foundry Security</a>

* <a href="./container-security.html" class="subnav">Understanding Container Security</a>

* <a href="./understand-cf-networking.html" class="subnav">Understanding Container-to-Container Networking</a>

## Architecture 

* <a href="./architecture/index.html" class="subnav">Cloud Foundry Components</a>

* <a href="./architecture/cloud-controller.html" class="subnav">Component: Cloud Controller</a>

* <a href="./architecture/messaging-nats.html" class="subnav">Component: Messaging (NATS)</a>

* <a href="./architecture/router.html" class="subnav">Component: Gorouter</a>

* <a href="./architecture/uaa.html" class="subnav">Component: User Account and Authentication (UAA) Server</a>

* <a href="./architecture/garden.html" class="subnav">Component: Garden</a>

* <a href="./http-routing.html" class="subnav">Component: HTTP Routing</a>

* <a href="./architecture/execution-agent.html" class="subnav">Component: Droplet Execution Agent (for PCF v1.7 and earlier)</a>

* <a href="./architecture/dea-algorithm.html" class="subnav">Component: DEA Placement Algorithm (for PCF v1.7 and earlier)</a>

* <a href="./architecture/warden.html" class="subnav">Component: Warden (for PCF v1.7 and earlier)</a>

## Diego

<ul>
<li><a href="./diego/diego-architecture.html" class="subnav">Diego Architecture</a></li>
<%=vars.dea_diego_diff_link%>
<li><a href="./diego/ssh-conceptual.html" class="subnav">Understanding Application SSH</a></li>
<li><a href="./asg.html" class="subnav">Understanding Application Security Groups</a></li>
<li><a href="./diego/diego-auction.html" class="subnav">How the Diego Auction Allocates Jobs</a></li>
</ul>
