---
title: Cloud Foundry Concepts
---

Cloud Foundry is an open platform as a service, providing a choice of clouds, developer frameworks, and application services. Cloud Foundry makes it faster and easier to build, test, deploy and scale applications. It is an [open source project](https://github.com/cloudfoundry) and is available through a variety of private cloud distributions and public cloud instances.

This guide presents an overview of how Cloud Foundry works and a discussion of key concepts. Refer to this guide to learn more about Cloud Foundry fundamentals.

## General Concepts

* <a href="./overview.html" class="subnav">Cloud Foundry Subsystems Overview</a>

* <a href="./how-applications-are-staged.html" class="subnav">How Applications are Staged</a>

* <a href="./ha-levels.html" class="subnav">Four Levels of High Availability</a>

* <a href="./high-availability.html" class="subnav">Zero Downtime Deployment and Scaling in CF</a>

* <a href="./roles.html" class="subnav">Orgs, Spaces, Roles, and Permissions</a>

* <a href="./security.html" class="subnav">Understanding Cloud Foundry Security</a>

* <a href="./docker.html" class="subnav">Using Docker in Cloud Foundry</a>

## Architecture 

* <a href="./architecture/index.html" class="subnav">Cloud Foundry Components</a>

* <a href="./architecture/cloud-controller.html">Cloud Controller</a>

* <a href="./architecture/execution-agent.html">Droplet Execution Agent</a>

* <a href="./architecture/messaging-nats.html">Messaging (NATS)</a>

* <a href="./architecture/router.html">(Go)Router</a>

* <a href="./architecture/uaa.html">User Account and Authentication (UAA) Server</a>

* <a href="./architecture/warden.html">Warden</a>

* <a href="./http-routing.html" class="subnav">HTTP Routing</a>

## Diego

* <a href="./diego/diego-architecture.html" class="subnav">Diego Architecture</a>

* <a href="./diego/dea-vs-diego.html" class="subnav">Differences Between DEA and Diego Architectures</a>

* <a href="./diego/ssh-conceptual.html" class="subnav">Understanding Application SSH</a>

* <a href="./diego/diego-auction.html" class="subnav">How the Diego Auction Allocates Jobs</a>
