---
title: Scaling instances in Resource Config for Elastic Runtime
---

<strong><%= modified_date %></strong>

This topic discusses how to scale instances in Elastic Runtime for different deployment scenarios. To increase the capacity and availability of the Cloud Foundry platform, and to decrease the chances of downtime, you can scale a deployment up using the instructions below. 

For further information on this topic, see [Zero Downtime Deployment and Scaling in CF](http://docs.pivotal.io/pivotalcf/concepts/high-availability.html).

<p class='note'><strong>Note</strong>: If you are looking to make a standard Diego or CF configuration high availabiilty, refer to the Zero Downtime Deployment and Scaling in CF topic above.</p>

##<a id='core'></a>Scaling instances in Resource Config##

1. Navigate to the Pivotal Cloud Foundry® Operations Manager Installation Dashboard.

1. Click the Elastic Runtime tile in the Installation Dashboard.

1. **Select Resource Config**. Scale instances for:

  * [Using Diego with no DEAs](#diego-nodeas)
  * [Using External Databases](#external-databases)
  * [Using MySQL only](#mysql-only)
  * [Using External Blobstore - S3](#external-blobstore)
  * [Using External LB instead of HAProxy](#external-lb)
  * [Using Ops Metrics](#ops-metric)

<%= image_tag("images/scaling-ert.png") %>

###<a id='diego-nodeas'></a>Using Diego with no DEAs ###

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Job</strong></th>
    <th width=8%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>Diego Cell</td>
    <td>&ge; 3</td>
    <td></td>
  </tr>
  <tr>
    <td>Diego Brain</td>
    <td>&ge; 1</td>
    <td></td>
  </tr>
  <tr>
    <td>Diego Bulletin Board System</td>
    <td>&ge; 1</td>
    <td></td>
  </tr>
  <tr>
    <td>DEA</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Consul</td>
    <td>&ge; 1</td>
    <td></td>
  </tr>
  <tr>
    <td>Health Manager</td>
    <td>0</td>
    <td>You will be able to zero out this component starting with ERT 1.6.3</td>
  </tr>
</table>


###<a id='external-databases'></a>Using External Databases  ###

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Job</strong></th>
    <th width=8%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>MySQL Server</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Apps Manager Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Cloud Controller Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>UAA Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
</table>


###<a id='mysql-only'></a>Using MySQL only  ###

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Job</strong></th>
    <th width=8%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>MySQL server</td>
    <td>&ge; 1</td>
    <td>Must be set to an odd number.</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>&ge; 1</td>
    <td></td>
  </tr>
  <tr>
    <td>Apps Manager Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Cloud Controller Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>UAA Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
</table>

###<a id='external-blobstore'></a>Using External Blobstore (S3)   ###

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Job</strong></th>
    <th width=8%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>NFS</td>
    <td>0</td>
    <td></td>
  </tr>
</table>

###<a id='external-lb'></a>Using External LB instead of HAProxy    ###

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Job</strong></th>
    <th width=8%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Router</td>
    <td></td>
    <td>For AWS, set the ELB name in the Router's "External Load Balancer" field.</td>
  </tr>
  <tr>
    <td>Diego Brain</td>
    <td></td>
    <td>If you have the Diego SSH feature enabled, for AWS, set the SSH ELB name in the Router's "External Load Balancer" field.</td>
  </tr>
</table>

###<a id='ops-metric'></a>Using Ops Metric    ###
<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Job</strong></th>
    <th width=8%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>Collector</td>
    <td>0</td>
    <td>Must have Ops Metrics tile added to PCF before you scale this up. See [Adding and Deleting Products](http://docs.pivotal.io/pivotalcf/customizing/add-delete.html).</td>
  </tr>
</table>