---
title: Scaling instances in Resource Config for Elastic Runtime
---

This topic discusses how to scale instances in Resource Config of Elastic Runtime for various scenarios. To increase the capacity and availability of the Cloud Foundry platform, and to decrease the chances of downtime, you can scale a deployment up using the strategies described below. 

For further information on this topic, see [Zero Downtime Deployment and Scaling in CF](http://docs.pivotal.io/pivotalcf/concepts/high-availability.html) topic.

<h2>Navigate to the Resource Config tab in Elastic Runtime</h2>

1. Navigate to the Pivotal Cloud Foundry® Operations Manager Installation Dashboard.

1. Click the Elastic Runtime tile in the Installation Dashboard.

1. Navigate to the Resource Config tab

1. Scaling instances for the following scenarios are outlined below:

  * Using Diego, no DEAs
  * Make Diego HA
  * CF HA
  * Use External DBs
  * Not using Postgres DBs (MySQL only)
  * Using External Blobstore (S3)
  * Using External LB instead of HAProxy
  * Using Ops Metrics

Use Diego, no DEAs

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Instance Name</strong></th>
    <th width=35%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>Diego Cell</td>
    <td>≥ 3</td>
    <td></td>
  </tr>
  <tr>
    <td>Diego Brain</td>
    <td>≥ 1</td>
    <td></td>
  </tr>
  <tr>
    <td>Diego Bulletin Board System</td>
    <td>≥ 1</td>
    <td></td>
  </tr>
  <tr>
    <td>DEA</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Consul</td>
    <td>≥ 1</td>
    <td></td>
  </tr>
  <tr>
    <td>Health Manager</td>
    <td>0</td>
    <td>You will be able to zero out this component starting with ERT 1.6.3</td>
  </tr>


Make Diego HA

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Instance Name</strong></th>
    <th width=35%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>Diego Cell</td>
    <td>≥ 3</td>
    <td></td>
  </tr>
  <tr>
    <td>Diego Brain</td>
    <td>≥ 2</td>
    <td></td>
  </tr>
  <tr>
    <td>Diego Bulletin Board System</td>
    <td>≥ 3</td>
    <td>must be odd #'ed</td>
  </tr>
  <tr>
    <td>DEA</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Consul</td>
    <td>≥ 3</td>
    <td>must be odd #'ed</td>
  </tr>
  <tr>
    <td>MySQL Server</td>
    <td>≥ 3</td>
    <td>must be odd #'ed</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>≥ 2</td>
    <td></td>
  </tr>
  <tr>
    <td>NATS Server</td>
    <td>≥ 2</td>
    <td>If you lack the network bandwidth, CPU utilization, or other resources to deploy two stable NATS servers, Pivotal recommends that you use one NATS server.</td>
  </tr>
  <tr>
    <td>Cloud Controller</td>
    <td>≥ 2</td>
    <td>More Cloud Controllers help with API request volume.</td>
  </tr>
  <tr>
    <td>Router</td>
    <td>≥ 2</td>
    <td>Additional Gorouters help bring more available bandwidth to ingress and egress.</td>
  </tr>
  <tr>
    <td>UAA</td>
    <td>≥ 2</td>
    <td></td>
  </tr>
  <tr>
    <td>Doppler Server</td>
    <td>≥ 2</td>
    <td>Deploying additional Doppler servers splits traffic across them, recommended to have at least two per AZ.</td>
  </tr>
  <tr>
    <td>Loggregator TC</td>
    <td>≥ 2</td>
    <td>Deploying additional Loggregator Traffic Controllers allows you to direct traffic to them in a round-robin manner, recommended to have at least 2 per AZ.</td>
  </tr>
  <tr>
    <td>etcd</td>
    <td>≥ 3</td>
    <td>must be odd #'ed</td>
  </tr>
  <tr>
    <td>etcd</td>
    <td>≥ 3</td>
    <td>must be odd #'ed</td>
  </tr>
  <tr>
    <td>Health Manager</td>
    <td>0</td>
    <td>You will be able to zero out this component starting with ERT 1.6.3</td>
  </tr>

Make CF HA

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Instance Name</strong></th>
    <th width=35%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>MySQL Server</td>
    <td>≥ 3</td>
    <td>must be odd #'ed</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>≥ 2</td>
    <td></td>
  </tr>
  <tr>
    <td>NATS Server</td>
    <td>≥ 2</td>
    <td>If you lack the network bandwidth, CPU utilization, or other resources to deploy two stable NATS servers, Pivotal recommends that you use one NATS server.</td>
  </tr>
  <tr>
    <td>HM9000</td>
    <td>≥ 2</td>
    <td>Assuming you use the DEAs instead of Diego</td>
  </tr>
  <tr>
    <td>Cloud Controller</td>
    <td>≥ 2</td>
    <td>More Cloud Controllers help with API request volume.</td>
  </tr>
  <tr>
    <td>Router</td>
    <td>≥ 2</td>
    <td>Additional Gorouters help bring more available bandwidth to ingress and egress.</td>
  </tr>
  <tr>
    <td>UAA</td>
    <td>≥ 2</td>
    <td></td>
  </tr>
  <tr>
    <td>DEA</td>
    <td>≥ 3</td>
    <td>Assuming you use the DEAs instead of Diego</td>
  </tr>
  <tr>
    <td>Doppler Server</td>
    <td>≥ 2</td>
    <td>Deploying additional Doppler servers splits traffic across them, recommended to have at least two per AZ.</td>
  </tr>
  <tr>
    <td>Loggregator TC</td>
    <td>≥ 2</td>
    <td>Deploying additional Loggregator Traffic Controllers allows you to direct traffic to them in a round-robin manner, recommended to have at least two per AZ.</td>
  </tr>
  <tr>
    <td>etcd</td>
    <td>≥ 3</td>
    <td>must be odd #'ed</td>
  </tr>

Use External Databases

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Instance Name</strong></th>
    <th width=35%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>MySQL Server</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Apps Manager Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Cloud Controller Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>UAA Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>

Not Using Postgres Databases (MySQL only)

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Instance Name</strong></th>
    <th width=35%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>MySQL server</td>
    <td>≥ 1</td>
    <td>must be odd #'ed</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>≥ 1</td>
    <td></td>
  </tr>
  <tr>
    <td>Apps Manager Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Cloud Controller Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>UAA Database (Postgres)</td>
    <td>0</td>
    <td></td>
  </tr>

Using External Blobstore (S3)

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Instance Name</strong></th>
    <th width=35%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>NFS</td>
    <td>0</td>
    <td></td>
  </tr>

Using External LB instead of HAProxy

<table border="1" class="nice" >
  <tr>
    <th width=8%><strong>Instance Name</strong></th>
    <th width=35%><strong>Instance Count</strong></th>
    <th width=22%><strong>Notes</strong></th>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>0</td>
    <td></td>
  </tr>
  <tr>
    <td>Router</td>
    <td></td>
    <td>For AWS, set the ELB name in the Router's "External Load Balancer" field</td>
  </tr>
  <tr>
    <td>Diego Brain</td>
    <td></td>
    <td>Assuming you have Diego SSH feature enabled, for AWS, set the SSH ELB name in the Router's "External Load Balancer" field)</td>
  </tr>