### <a id='old-metrics-collector'></a> Metrics Collector

The metrics collector gathers metrics and statistics from the components.
Operators can use this information to monitor a Cloud Foundry deployment.
