---
title: Component&#58 Cloud Controller
owner: CAPI
---

<strong><%= modified_date %></strong>

The Cloud Controller provides REST API endpoints for clients to access the
system.
The Cloud Controller maintains a database with tables for orgs, spaces,
services, user roles, and more.

<% if vars.product_name == 'CF' %>
<%= partial 'cc_communications' %>
<% else %>
<% end %>

##<a id='auction'></a>Diego Auction

The Cloud Controller uses the [Diego Auction](../diego/diego-auction.html) to balance application processes over the [cells](index.html#diego-cell) in a Cloud Foundry installation.

##<a id='database'></a>Database (CC_DB)

<% if vars.product_name == 'CF' %>
The Cloud Controller database has been tested with Postgres and MySQL.
<% else %>
The Cloud Controller database has been tested with MySQL.
<% end %>

##<a id='blob-store'></a>Blobstore

To stage and run apps, Cloud Foundry manages and stores the following types of binary large object (blob) files:

<table id="blob-types" border="1" class="nice">
<tr>
<th>Blob Type</th>
<th>Description</th>
<th>Location in Blobstore</th>
</tr>
<tr>
<td>App Packages</td>
<td>Full contents of app directories, including source code and resource files, zipped into single blob files.</td>
<td><code>/cc-packages</code></td>
</tr>
<tr>
<td>Buildpacks</td>
<td>Buildpack directories, which Diego cells download to compile and stage apps with.</td>
<td><code>/cc-buildpacks</code></td>
</tr>
<tr>
<td>Resource Cache</td>
<td>Large files from app packages that the Cloud Controller stores with a SHA for later re-use. To save bandwidth, the Cloud Foundry Command Line Interface (cf CLI) only uploads large application files that the Cloud Controller has not already stored in the resource cache.</td>
<td><code>/cc-resources</code></td>
</tr>
<tr>
<td>Buildpack Cache</td>
<td>Large files that buildpacks generate during staging, stored for later re-use. This cache lets buildpacks run more quickly when staging apps that have been staged previously.</td>
<td><code>cc-droplets/buildpack_cache</code></td>
</tr>
<tr>
<td>Droplets</td>
<td>Staged apps packaged with everything needed to run in a container.</td>
<td><code>/cc-droplets</code></td>
</tr>
</table>

Cloud Foundry blobstores use the [Fog](http://fog.io/) Ruby gem to store blobs in
services like Amazon S3, WebDAV, or the NFS filesystem. The file system location of an internal blobstore is `/var/vcap/store/shared`.

A single blobstore typically stores all five types of blobs, but you can configure the Cloud Controller to use separate blobstores for each type.

###<a id='automatic-clean'></a>Automatic Blob Cleanup

After a blob deletion fails silently or something else goes wrong, the blobstore may contain blobs that the Cloud Controller no longer needs or lists in its database. These are called orphan blobs, and they waste blobstore capacity.

The Cloud Controller detects and removes orphan blobs by scanning part of the blobstore daily and checking for any blobs that its database does not account for. The process scans through the entire blobstore every week, and only removes blobs that show as orphans for three consecutive days.

The Cloud Controller performs this automatic cleanup when the `cloud_controller_worker` job property `cc.perform_blob_cleanup` is set to `true`.

###<a id='manual-clean'></a>Manual Blob Cleanup

The Cloud Controller does not track resource cache and buildpack cache [blob types](#blob-types) in its database, so it does not [clean them up automatically](#automatic-clean) as it does with app package, buildpack, and droplet type blobs.

To clean up the buildpack cache, admin users can run `cf curl -X DELETE /v2/blobstores/buildpack_cache`. This empties the buildpack cache completely, which is a safe operation.

To clean up the resource cache, delete it as follows:

* **Internal blobstore**: Run `bosh ssh` to connect to the blobstore VM (NFS or WebDav) and `rm *` the contents of the `/var/vcap/store/shared/cc-resources` directory.
* **External blobstore**: Use the file store's API to delete the contents of the `resources` bucket.

Do not manually delete app package, buildpack, or droplet blobs from the blobstore. To free up resources from those locations, run `cf delete-buildpack` for buildpacks or `cf delete` for app packages and droplets.

##<a id='testing'></a>Testing

<% if vars.product_name == 'CF' %>

By default `rspec` runs a test suite with the SQLite in-memory database.
Specify a connection string using the `DB_CONNECTION` environment variable to
test against Postgres and MySQL. For example:

~~~
    DB_CONNECTION="postgres://postgres@localhost:5432/ccng" rspec
    DB_CONNECTION="mysql2://root:password@localhost:3306/ccng" rspec
~~~

Travis currently runs two build jobs against Postgres and MySQL.

<% else %>

By default `rspec` runs a test suite with the SQLite in-memory database.
Specify a connection string using the `DB_CONNECTION` environment variable to
test against MySQL. For example:

~~~
    DB_CONNECTION="mysql2://root:password@localhost:3306/ccng" rspec
~~~

<% end %>

<%= vars.cloud_controller_logging %>
