---
title: Gorouter
owner: Routing
---



Gorouter routes traffic coming into <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) to the appropriate component, whether
the request comes from an operator addressing the [Cloud Controller](./cloud-controller.html)
or from an application user accessing an app running on a Diego Cell. Handling both platform
and app requests with the same process centralizes routing logic and simplifies support for
WebSocket and other types of traffic (for example, through HTTP CONNECT).

See the following instructions for help getting started with Gorouter
in a standalone environment.

## <a id='setup'></a> Setup ##

<pre class="terminal">
$ git clone https://github.com/cloudfoundry/gorouter.git
$ cd gorouter
$ git submodule update --init
$ ./bin/go install gorouter/gorouter
$ gem install nats
</pre>

### <a id='start'></a> Start ###

<pre class="terminal">
# Start NATS server in daemon mode
$ nats-server -d

# Start gorouter
$ ./bin/gorouter
</pre>

## <a id='use'></a>Usage ##

Gorouter receives route updates through [NATS](./messaging-nats.html).
By default, routes that have not been updated in two minutes are pruned. Therefore, to maintain an active route, you must ensure that the route is updated at least every two minutes.
The format of these route updates is as follows:

~~~json
{
  "host": "127.0.0.1",
  "port": 4567,
  "uris": [
    "my_first_url.vcap.me",
    "my_second_url.vcap.me"
  ],
  "tags": {
    "another_key": "another_value",
    "some_key": "some_value"
  }
}
~~~

Such a message can be sent to both the `gorouter.register` subject to register URIs,
and to the `gorouter.unregister` subject to deregister URIs, respectively.

<pre class="terminal">
$ nohup ruby -rsinatra -e 'get("/") { "Hello!" }' &
$ nats-pub 'gorouter.register' '{"host":"127.0.0.1","port":4567,
    "uris":["my_first_url.vcap.me","my_second_url.vcap.me"],
    "tags":{"another_key":"another_value","some_key":"some_value"}}'
Published [gorouter.register] : '{"host":"127.0.0.1","port":4567,
    "uris":["my_first_url.vcap.me","my_second_url.vcap.me"],
    "tags":{"another_key":"another_value","some_key":"some_value"}}'
$ curl my_first_url.vcap.me:8080
Hello!
</pre>

## <a id='instrumentation'></a>Instrumentation ##

Gorouter provides `/varz` and `/healthz` http endpoints for monitoring.

The `/routes` endpoint returns the entire routing table as JSON. Each route has
an associated array of `host:port` entries.

All of the endpoints require http basic authentication, credentials for which you
can acquire through NATS. You can explicitly set the `port`, `user` and password
(`pass` is the config attribute) in the `gorouter.yml` config file `status` section.

~~~yaml
status:
  port: 8080
  user: some_user
  pass: some_password
~~~

Example interaction with `curl`:

<pre class="terminal">
$ curl -vvv "http://someuser:somepass@127.0.0.1:8080/routes"
* About to connect() to 127.0.0.1 port 8080 (#0)
*   Trying 127.0.0.1...
* Connected
* Connected to 127.0.0.1 (127.0.0.1) port 8080 (#0)
* Server auth using Basic with user 'someuser'
> GET /routes HTTP/1.1
> Authorization: Basic c29tZXVzZXI6c29tZXBhc3M=
> User-Agent: curl/7.24.0 (x86_64-apple-darwin12.0) libcurl/7.24.0 OpenSSL/0.9.8r zlib/1.2.5
> Host: 127.0.0.1:8080
> Accept: */*
>
< HTTP/1.1 200 OK
< Content-Type: application/json
< Date: Mon, 25 Mar 2013 20:31:27 GMT
< Transfer-Encoding: chunked
<
{"0295dd314aaf582f201e655cbd74ade5.cloudfoundry.me":["127.0.0.1:34567"],
"03e316d6aa375d1dc1153700da5f1798.cloudfoundry.me":["127.0.0.1:34568"]}
</pre>

## <a id="logs"></a> Logs

This section provides details about Gorouter logging.

### <a id="levels"></a> Levels

The following table describes the log levels supported by Gorouter.
<% if vars.platform_code == 'CF' %>
The log level is specified in the configuration YAML file for Gorouter.
<% else %>
The log level is set to `debug` and is not configurable.
<% end %>

<table>
  <tr>
    <th>Message</th>
    <th>Description</th>
    <th>Examples</th>
  </tr>
  <tr>
    <td><code>fatal</code></td>
    <td>Gorouter is unable to handle any requests due to a fatal error.</td>
    <td>Gorouter cannot bind to its TCP port, a <%= vars.app_runtime_abbr %> component has
  published invalid data to Gorouter.</td>
  </tr>
  <tr>
    <td><code>error</code></td>
    <td>An unexpected error has occurred.</td>
    <td>Gorouter failed to fetch token from UAA service.</td>
  </tr>
  <tr>
    <td><code>info</code></td>
    <td>An expected event has occurred.</td>
    <td>Gorouter started or exited, Gorouter has begun to prune
  routes for stale droplets.</td>
  </tr>
  <tr>
    <td><code>debug</code></td>
    <td>A lower-level event has occurred.</td>
    <td>Route registration, route unregistration.</td>
  </tr>
</table>

### <a id="message-contents"></a> Message Contents

This section section provides a sample Gorouter log entry and explanation of the contents.

`[2017-02-01 22:54:08+0000] {"log_level":0,"timestamp":1485989648.0895808,"message":"endpoint-registered","source":"vcap.Gorouter.registry","data":{"uri":"0-*.login.bosh-lite.com","backend":"10.123.0.134:8080","modification_tag":{"guid":"","index":0}}}
`

<table>
  <tr>
    <th>Property</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><code>log_level</code></td>
    <td>Logging level of the message</td>
  </tr>
  <tr>
    <td><code>timestamp</code></td>
    <td>Epoch time of the log</td>
  </tr>
  <tr>
    <td><code>message</code></td>
    <td>Content of the log entry</td>
  </tr>
  <tr>
    <td><code>source</code></td>
    <td>Gorouter function that initiated the log entry</td>
  </tr>
  <tr>
    <td><code>data</code></td>
    <td>Additional information that varies based on the message</td>
  </tr>
</table>

## <a id="about-access-logs"></a> About Access Logs

This section provides details about Gorouter access logs.

Gorouter generates an access log in the following format when it receives a request:

`<Request Host> - [<Start Date>] "<Request Method> <Request URL> <Request Protocol>" <Status Code> <Bytes Received> <Bytes Sent> "<Referrer>" "<User-Agent>" <Remote Address> <Backend Address> x_forwarded_for:"<X-Forwarded-For>" x_forwarded_proto:"<X-Forwarded-Proto>" vcap_request_id:<X-Vcap-Request-ID> response_time:<Response Time> gorouter_time:<Gorouter Time> app_id:<Application ID> app_index:<Application Index> x_cf_routererror:<X-Cf-RouterError> <Extra Headers>`

Gorouter access logs are also redirected to syslog.

See the list below for more information about the Gorouter access log fields:

* The following are optional fields: <code>Status Code</code>, <code>Response Time</code>, <code>Application ID</code>, <code>Application Index</code>, <code>X-Cf-RouterError</code>, and <code>Extra Headers</code>.

* If the access log lacks a <code>Status Code</code>,  <code>Response Time</code>, <code>Application ID</code>, <code>Application Index</code>, or <code>X-Cf-RouterError</code>, the corresponding field shows `-`.

* `Response Time` is the total time it takes for the request to go through the Gorouter to the app
   and for the response to travel back through the Gorouter.
   This includes the time that the request spends traversing the network to the app and back again to the Gorouter.
   It also includes the time the app spends forming a response.

* `Gorouter Time` is the total time it takes for the request to go through the Gorouter
   initially plus the time it takes for the response to travel back through the Gorouter.
   This does not include the time the request spends traversing the network to the app.
   This also does not include the time the app spends forming a response.

* `X-Cf-RouterError` is populated if the Gorouter encounters an error. The returned values can
   help distinguish whether a non-2xx response code is due to an error in the Gorouter
   or the back end. For more information on the possible errors, see
   the [Router Errors](#router-errors) section.

### <a id="router-errors"></a> Router Errors

The following table lists possible values of the `X-Cf-RouterError` header:

<table>
  <tr>
    <th>Value<sup>*</sup></th>
    <th>Description</th>
  </tr>
  <tr>
    <td><code>invalid_cf_app_instance_header</code></td>
    <td>The provided value for the <code>X-Cf-App-Instance</code> header does not match the required format of <code>APP_GUID:INSTANCE_ID</code>.</td>
  </tr>
  <tr>
    <td><code>empty_host</code></td>
    <td>The value for the <code>Host</code> header is empty, or the <code>Host</code> header is equivalent to the remote address. Some load balancers optimistically set the <code>Host</code> header value to their IP address when there is no value present.</td>
  </tr>
  <tr>
    <td><code>unknown_route</code></td>
    <td>The route does not exist in the Gorouter's route table.</td>
  </tr>
  <tr>
    <td><code>no_endpoints</code></td>
    <td>There is an entry in the route table for the route, but there are no healthy endpoints available.</td>
  </tr>
  <tr>
    <td><code>Connection Limit Reached</code></td>
    <td>The back ends associated with the route have reached their maximum number of connections. The maximum number of connections for back ends is set via the property <code>router.backends.max_conns</code> in the <a href="https://github.com/cloudfoundry/routing-release/blob/master/jobs/gorouter/spec">Gorouter spec</a>.</td>
  </tr>
  <tr>
    <td><code>route_service_unsupported</code></td>
    <td>Route services are not enabled. You can enable route services with the property <code>router.route_services_secret</code> in the <a href="https://github.com/cloudfoundry/routing-release/blob/master/jobs/gorouter/spec">Gorouter spec</a>. If the property is empty, route services are disabled.</td>
  </tr>
  <tr>
    <td><code>endpoint_failure</code></td>
    <td>The registered endpoint for the route failed to handle the request.</td>
  </tr>
</table>

<sup>*</sup> The table lists error message values with the capitalization and punctuation used in the real header messages.